{{- if .Values.active }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kuiper
  namespace: {{ .Values.namespace }}
spec:
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: kuiper

  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 50%
    type: RollingUpdate

  template:
    metadata:
      annotations:
        # Allow for footprint consolidation
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
      labels:
        app: kuiper

    spec:
      serviceAccountName: kuiper
      {{- if .Values.image_pull_secret }}
      imagePullSecrets:
        - name: {{ .Values.image_pull_secret }}
      {{- end }}
      {{- if .Values.kuiper.node_selector.enable }}
      nodeSelector:
        {{- range $key, $value := .Values.kuiper.node_selector.labels }}
        {{ $key }}: "{{ $value }}"
        {{- end }}
      {{- end }}
      containers:
        - name: kuiper
          image: {{.Values.registry}}/{{ .Values.kuiper.image }}
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: "/kuiper/.health"
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 5
            failureThreshold: 2
          startupProbe:
            httpGet:
              path: "/kuiper/.health"
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 5
            failureThreshold: 2
          env:
            - name: HOST
              value: "{{ .Values.host }}"
            - name: SHOW
              value: "{{ .Values.show }}"
            {{- if .Values.image_pull_secret }}
            - name: PULL_SECRET
              value: "{{ .Values.image_pull_secret }}"
            {{- end }}
            - name: JUNO_PROJECT
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              cpu: 750m
              memory: 200Mi
          ports:
            - containerPort: 8000
              name: endpoint
        - name: rhea
          image: {{ .Values.registry }}/{{ .Values.rhea.image }}
          imagePullPolicy: Always
          {{- with .Values.rhea.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 13000
              name: auth
          livenessProbe:
            httpGet:
              path: /.health
              port: 13000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /.health
              port: 13000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.rhea.resources | nindent 12 }}
          volumeMounts:
            - name: policies
              mountPath: /etc/rhea/policies
              readOnly: true
      volumes:
        - name: policies
          configMap:
            name: orion-environment-systempolicy
{{- end }}
